<h1> All Users </h1>

<table>
  <%= for user <- @users do%>
  <tr>
    <td><b>Name: <%= first_name(user)%></b> ( <%= user.id%> )</td>
    <td> <%= link "View", to: Routes.user_path(@conn, :show, user.id)%> </td>
  <tr>
  <%end%>
</table>